
@{
    ViewBag.Title = "FeedbackForm";
    Layout = "~/Views/Shared/_EmployeeTemplate.cshtml";
}

<table align="center">
    <tr><td><h2 style="color:white">You have no feedbacks pending. please visit later </h2></td></tr>

</table>

<table align="center">
    <tr><td><h2 style="color:white"> forms will be available one day before or after course completion. Thank you </h2></td>
        <td>@ViewData["exception"]</td></tr>

</table>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>


