



@{
    //Layout = null;
    Layout = "~/Views/Shared/_LoginTemplate2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmPassword</title>

    <style>
        table {
            color: #ffffff;
            border-collapse: collapse;
        }

        td {
            color: #ffffff;
            padding-top: .5em;
            padding-bottom: .5em;
        }

        body {
            color: #ffffff;
            font-weight: 800;
        }
    </style>



    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>


    <script>
       
        $(document).on('keydown', '#pwd', function (e) {
            if (e.keyCode == 32) return false;
        });
        $(document).on('keydown', '#cpwd', function (e) {
            if (e.keyCode == 32) return false;
        });
       $(document).ready(function () {
           $("#login").validate({
               rules:
                   {
                       pwd :
            {
                required: true,
                pwcheck: true,
                minlength: 6,
                maxlength: 14

            },
                       cpwd:
                        {
                            required: true,
                            equalTo: "#pwd",

                        },
                   },
               messages:
                   {
                       pwd:
                           {
                               required: "Please enter password",
                               minlength: "Minimum six characters",
                               maxlength: "Can't exceed fourteen characters",
                               pwcheck: "One uppercase,special character,number is must"
                           },
                       cpwd:
                            {
                                required: "Cannot be blank",
                                equalTo:"Password mismatch",
                             }
                   }
           });
       });
       $.validator.addMethod("pwcheck", function (value) {
           return /^(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*?&])[A-Za-z\d$@@$!%*?&]/.test(value)
      && /[A-Z]/.test(value)
      && /\d/.test(value)
       });


    </script>
</head>
<body>



   
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "login" }))
    {
        <h2 align="center">Fill the following details and Recreate Password</h2>

        <table style="margin-left:550px">

            <tr>

                <td><p class="class1">Enter New Password&nbsp;&nbsp;</p></td>
                <td>@Html.Password("pwd", null, new { @class = "text-primary" })</td>
            </tr>
            <tr>
                <td><p class="class1">Confirm Password&nbsp;&nbsp;</p></td>
                <td>@Html.Password("cpwd", null, new { @class = "text-primary" })</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="SUBMIT" name="btn" class="btn btn-primary my-btn" /></td>

            </tr>

        </table>

    }



</body>
</html>



